files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_upload_dir_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir -p /var/app/current/uploads
      chmod 777 /var/app/current/uploads
      chown webapp:webapp /var/app/current/uploads